html,
body {
  scroll-behavior: smooth;

  background-color: white;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
}
* {
  margin: auto;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 2px 2px 0.5 black;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-left: 30px;
  font-size: 7vw;
  text-shadow: 2px 2px 0.5 rgb(0, 0, 0);
}
p {
  color: white;
  font-weight: lighter;
}
.header {
  z-index: 1;
  font-style: italic;

  width: 100%;
  position: fixed;
  box-shadow: 2px 2px 2px rgba(114, 114, 114, 0.382);

  margin: auto;
}
.logo {
  width: 200px;
  margin-left: 5px;
}

.home {
  background: linear-gradient(rgb(141, 141, 141), rgb(82, 82, 82));

  position: relative;
  height: 600px;
}
.wlcmfont {
  text-shadow: 2px 2px 0.5 rgb(0, 0, 0);
  font-weight: 900;
  font-size: 5vw;
  margin: 20px 20px;
  position: relative;
  color: rgb(255, 255, 255);
}
.welcm {
  align-items: center;
  position: relative;

  padding-top: 100px;
  padding-left: 30px;
}
.aboutus {
  height: 600px;
  position: relative;
  background: linear-gradient(rgb(141, 141, 141), rgb(82, 82, 82));

  padding-top: 30px;
}
.para {
  margin: auto;
  padding: 2%;
}
.services {
  position: relative;
  background: linear-gradient(rgb(140, 140, 140), rgb(174, 169, 169));
  height: max-content;
  padding-bottom: 50px;
}
.cards {
  border-radius: 90px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contactus {
  background: rgb(140, 140, 140);
  padding: 50px;
  padding-bottom: 10px;
}
.contactus h3 {
  color: rgb(255, 255, 255);
}
.footer {
  height: max-content;

  background: rgb(175, 175, 175);
  display: flex;
}
.lg {
  width: 20px;
}

.abt {
  color: white;
}

.dv {
  position: absolute;
  padding-top: 100px;
  top: 50px;
  left: 200px;
}
.block {
  width: 80%;
  height: fit-content;
  border: 1.5px solid rgb(255, 255, 255);
  justify-content: center;

  border-radius: 15px;
  background: rgba(75, 75, 75, 0.337);
  padding: 3%;
  box-shadow: 2px 2px 2px rgba(170, 170, 170, 0.382);
}
.readmore {
  margin: auto;
  text-align: center;
  font-weight: lighter;
  padding-top: 50px;
}
.readmorebtn {
  margin: auto;

  align-items: center;
  border: 1.5px solid white;
  width: 100px;
  height: 40px;

  border-radius: 10px;
  cursor: pointer;
  padding: 2%;
}
#wlcm {
  display: none;
}
.fd {
  display: none;
}
.card-title {
  font-weight: bold;
}

.readmore-btn {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.contact {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}
.whatsapp {
  size: 100px 200px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 3em;
  margin-left: 2em;
  color: #000;
}
.email {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 2em;
}

.instalink {
  width: 30px;
  height: 30px;

  float: left;
}
.fblink {
  width: 30px;
  height: 30px;
  float: left;
}
.readmore-btn:hover {
  background-color: rgba(0, 0, 0, 0.391);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.nav-item:hover {
  color: rgb(32, 0, 84);
}
.logobotm {
  width: 200px;

  box-sizing: border-box;
  margin-left: 6%;
  margin: auto;
}
.socialmedia {
  width: 100%;
  height: 100%;
  padding: 3em;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.links {
  width: 100%;
  height: 30px;

  align-items: center;
  padding: auto;
  display: flex;
}
