html{
    scroll-behavior: smooth;
  background-color: white;
  justify-content: center;
   padding: 0px;
 margin: auto;
}
*{
 margin: auto;
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-shadow: 2px 2px .5 black;
}


h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left: 30px;
    font-size: 6vw;
    text-shadow: 2px 2px .5 rgb(0, 0, 0);

}
p{
    color: white;
    font-weight: lighter;
}
.header{
    
  width: 100%;
    z-index: 1;
    font-style: italic;
    
   
   position: static;
    
}
.logo{
   
    width: 250px;
    margin-left: 10px;
}

.home{
    
    background:linear-gradient(rgb(141, 141, 141),rgb(82, 82, 82));

    position: relative;
height: 600px;
}
.wlcmfont{
    text-shadow: 2px 2px .5 rgb(0, 0, 0);
    font-weight: 900;
    font-size: 5vw;
    margin: 20px 20px;
    position: relative;
    color: rgb(255, 255, 255);
    
}
.welcm{

    align-items: center;
    position:relative;
   
    padding-top: 100px;
    padding-left: 30px;
   
}
.aboutus{
 height: 600px;
  position: relative;
  background:linear-gradient(rgb(141, 141, 141),rgb(82, 82, 82));

padding-top: 30px;

}
.para{
    margin: auto;
    padding: 2%;
}
.services{
    position: relative;
    background:linear-gradient(rgb(140, 140, 140),rgb(174, 169, 169));
  height: max-content;
  padding-bottom: 50px;
}
.cards{
    border-radius: 90px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
  
}
.contactus{
 background:rgb(140, 140, 140);
    padding-left: 20px;
    padding-bottom: 10px;
}
.contactus h3{
    color: rgb(255, 255, 255);
   
}
.footer{
    height: 200px;
    width: 100%;
    background:linear-gradient(rgb(50, 55, 50),rgb(60, 54, 54));

padding-left: 40%;
padding-top: 20px;
}
.lg{
width: 20px;

}

.abt{
color: white;

}


.dv{
    position: absolute;
padding-top: 100px;
    top: 50px;
    left: 200px;
}
.block{

    width: 80%;
    height: fit-content;
border: 1.5px solid rgb(255, 255, 255);
justify-content: center;

border-radius: 15px;
background: rgba(75, 75, 75, 0.337);
padding: 3%;
}
.readmore{
    margin: auto;
    text-align: center;
    font-weight: lighter; 
    padding-top:50px ;
}
.readmorebtn{
    margin: auto;
    
    align-items: center;
    border: 1.5px solid white;
    width: 100px;
   height: 40px;
   
   border-radius: 10px;
   cursor: pointer;
   padding: 2%;
}
#wlcm{
    display: none;
}
.fd{
    display: none;
}
.card-title{
    font-weight: bold;
}
